<div class="example-container-top">
  <mat-toolbar style="background-color: #06268fa8; height: 80px;" class="mat-elevation-z2 example-toolbar">
    <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>

    </button>
    <h1 class="example-app-name">Vt7</h1>

    <div class="link">
      <ul class="link_ul">
        <li><a routerLink='/raketa'>raketa</a></li>
       <li><a routerLink='/car'>car</a></li>
     </ul>
     </div>

    <div class="search">
      <span style="float: right;">
        <mat-form-field>
          <span>
            <mat-icon>mic_none</mat-icon>
          </span>

          <mat-label class="search">Your question</mat-label>
          <input matInput class="matInputToolbar" color='primary'>
        </mat-form-field>
      </span>
      <br>
    </div>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav>
      <div>
        <mat-nav-list>
          <mat-list-item class="alternate-theme">
            <!--(click)=""" *ngFor="let link of links" sidenav.toggle() -->
            <mat-icon color="primary">name</mat-icon><span style="margin-left: 7px;"></span>
          </mat-list-item>
        </mat-nav-list>
      </div>
    </mat-sidenav>
    <mat-sidenav-content class="mat-sidenav-content">
    </mat-sidenav-content>
  </mat-sidenav-container>

</div>

<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
      
  </mat-drawer>

  <!-- <div class="example-sidenav-content">
    <button type="button" mat-button (click)="drawer.toggle()">
      Toggle sidenav
    </button>
  </div> -->

</mat-drawer-container>

