
<div class="content" role="main">


<div id="blokStart" style="margin: 20px;" class="card highlight-card">
  <div style="margin: 20px; font-size:  25px;" class="spanOtchet">

    <span> Проверка всех систем..</span>
    <hr>
    <li>обратный отсчет
      [ <span id="timer"> {{timer}} </span> :<span>60</span>
      ]</li>
    <li>Количество топлива [<span id="palivo"> {{palivo}}% </span>]</li>
    <li>Экипаж на борту <span id="ekipazh">[ {{ekipazh}} чел ]</span> </li>
    <li>
      <!-- <button mat-stroked-button (click)="openSnackBar(message.value, action.value)">Закрыты ли шлюзы</button> -->
       <span id="shluzi">[ {{shluzi}} ]</span></li>
    <li>Включение двигателей <span id="dvigatel">[ {{dvigatel}} ]</span></li>
    <li>Отрыв <span id="vzlet">[ {{vzlet}} ]</span></li>
  </div>
  <div style="padding: 50px;">
    <!-- <button (click)="start(); [toggle = !toggle]" style="padding: 10px;" mat-raised-button color="warn">Начать обратный отсчет</button> -->
  </div>

</div>

</div>
